{% extends 'base.html.twig' %}

{% block title %}{{ 'show.edit'|trans }} {{ 'category.comment'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'show.edit'|trans }} {{ 'category.comment'|trans }}</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment_index') }}">{{ 'show.back'|trans }}</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
