{% extends 'base.html.twig' %}

{% block title %}{{ 'show.new'|trans }} {{ 'category.comment'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'show.new'|trans }} {{ 'category.comment'|trans }}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">{{ 'show.back'|trans }}</a>
{% endblock %}
