{% extends 'base.html.twig' %}

{% block title %}{{ 'show.new'|trans }} {{ 'category.episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'show.new'|trans }} {{ 'category.episode'|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('episode_index') }}">{{ 'show.back'|trans }}</a>
{% endblock %}
