{% extends 'base.html.twig' %}

{% block title %}{{ 'category.episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'category.episode'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'list.id'|trans }}</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Ti{{ 'list.title'|trans }}</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>{{ 'list.number'|trans }}</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>{{ 'list.synopsis'|trans }}</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <strong>{{ 'category.comments'|trans }} :</strong>
    <ul>
        {% for comment in episode.comments | sort((a, b) => a.date <=> b.date)%}
            <div class="card my-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.author }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.rate }}/5</h6>
                    <p class="card-text">{{ comment.date|date("m/d/Y") }}</p>
                    <p class="card-text">{{ comment.comment }}</p>
                    {% if comment.author == app.user or is_granted('ROLE_ADMIN') %}
                        {{ include('comment/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <li>{{ 'error.noRecord'|trans }}</li>
        {% endfor %}
    </ul>


    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    {% endif %}

    <a class="btn btn-secondary" href="{{ path('episode_index') }}">{{ 'show.back'|trans }}</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-secondary" href="{{ path('episode_edit', {'slug':episode.slug}) }}">{{ 'show.edit'|trans }}</a>
        {{ include('episode/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
