{% extends 'base.html.twig' %}

{% block title %}{{ 'show.edit'|trans }} {{ 'category.program'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'show.edit'|trans }} {{ 'category.program'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('program_index') }}">{{ 'show.back'|trans }}</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
