{% extends 'base.html.twig' %}

{% block title %}{{ 'category.programs'|trans }}{% endblock %}

{% block body %}
    <h1 class="m-3">{{ 'category.programs'|trans }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'list.id'|trans }}</th>
            <th>{{ 'list.title'|trans }}</th>
            <th>{{ 'list.summary'|trans }}</th>
            <th>{{ 'list.poster'|trans }}</th>
            <th>{{ 'list.actions'|trans }}</th>
            <th>{{ 'list.actors'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td>{{ program.summary }}</td>
                <td><img src="{{vich_uploader_asset (program, 'posterFile', 'App\\Entity\\Program')}}" width="70%"></td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('program_show', {'slug': program.slug}) }}">{{ 'show.show'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-secondary" href="{{ path('program_edit', {'slug': program.slug}) }}">{{ 'show.edit'|trans }}</a>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                    <i id="watchlist-{{ program.id }}"
                       class="{{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart watchlist"
                       style="color: red" data-href="{{ path('program_watchlist', {'id': program.id}) }}"></i>
                {% endif %}
                <td>
                    <ul>
                        {% for actor in program.actors %}
                            <li><small>{{ actor.lastname }}, {{ actor.firstname }}</small></li>
                        {% else %}
                            <li><small>{{ 'error.noRecord'|trans }}</small></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'error.noRecord'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('program_new') }}">{{ 'show.new'|trans }}</a>

    {% block javascripts %}
        {{ encore_entry_script_tags('watchlist') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}

