{% extends 'base.html.twig' %}

{% block title %}{{ 'show.new'|trans }} {{ 'category.program'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'show.new'|trans }} {{ 'category.program'|trans }}</h1>

    {{ include('program/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('program_index') }}">{{ 'show.back'|trans }}</a>
{% endblock %}
