{% extends 'base.html.twig' %}

{% block title %}{{ 'category.program'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'category.program'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'list.id'|trans }}</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>{{ 'list.title'|trans }}</th>

                <td>
                    {{ program.title }}
                    <i id="watchlist-{{ program.id }}" class="{{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart watchlist" style="color: red" data-href="{{path('program_watchlist', {'id': program.id})}}"></i>

                </td>

            </tr>

            <tr>
                <th>{{ 'list.summary'|trans }}</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>{{ 'list.poster'|trans }}</th>
                <td><img src="{{vich_uploader_asset (program, 'posterFile', 'App\\Entity\\Program')}}" width="20%"></td>
            </tr>
        </tbody>
    </table>

    <strong>{{ 'category.actors'|trans }} :</strong>
    <ul>
        {% for actor in program.actors %}
            <a class="btn btn-primary" href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.lastname }}, {{ actor.firstname }} </a>
        {% else %}
            <li>{{ 'error.noRecord'|trans }}</li>
        {% endfor %}
    </ul>
    <a class="btn btn-secondary" href="{{ path('program_index') }}">{{ 'show.back'|trans }}</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-secondary" href="{{ path('program_edit', {'slug': program.slug}) }}">{{ 'show.edit'|trans }}</a>
        {{ include('program/_delete_form.html.twig') }}
    {% endif %}
    {% block javascripts %}
        {{ encore_entry_script_tags('watchlist') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
