{# templates/wild/program.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Wild Series - {{ program.title }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
                {% for season in seasons %}
                    <div class="card bg-primary m-5" style="width: 80%;">
                        <div class="card-body">
                            <h5 class="card-title">Saison {{ season.number }}</h5>
                            <p class="card-text">{{ season.description }}</p>
                            <a class="btn btn-secondary" href="{{ slugName }}/{{ season.number }}">En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}
            <a class="btn btn-secondary" href="{{ path('wild_index') }}">
                Retour
            </a>
        </div>
    </div>
{% endblock %}