{# templates/wild/season.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ program.title }}</h1>
    <h5>Saison {{ season.number }}</h5>
    {% for episode in episodes %}
        <div class="card bg-primary m-5" style="width: 80%;">
            <div class="card-body">
                <h5 class="card-title">{{ episode.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Episode {{ episode.number }}</h6>
                <p class="card-text">{{ episode.synopsis }}</p>
            </div>
        </div>
    {% endfor %}
    <a href="./">
        Retour
    </a>
{% endblock %}