{% extends 'base.html.twig' %}

{% block title %}{{ 'category.actors'|trans }}{% endblock %}

{% block body %}
    <h1 class="m-3">{{ 'category.actors'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'list.id'|trans }}</th>
                <th>{{ 'list.name'|trans }}</th>
                <th>image</th>
                <th>{{ 'list.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.firstname }} {{ actor.lastname }}</td>
                <td><img src="{{vich_uploader_asset (actor, 'pictureFile', 'App\\Entity\\Actor')}}" width="20%"></td>

                <td>
                    <a class="btn btn-secondary" href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ 'show.show'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-secondary" href="{{ path('actor_edit', {'slug': actor.slug}) }}">{{ 'show.edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'error.noRecord'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('actor_new') }}">{{ 'show.new'|trans }}</a>
{% endblock %}
