{% extends 'base.html.twig' %}

{% block title %}{{ 'show.new'|trans }} {{ 'category.actor'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'show.new'|trans }} {{ 'category.actor'|trans }}</h1>

    {{ include('actor/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('actor_index') }}">{{ 'show.back'|trans }}</a>
{% endblock %}
