{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="/">Wild Séries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wild">Wild</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_index') }}">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('program_index') }}">Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('season_index') }}">Season</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('episode_index') }}">Episode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('actor_index') }}">Actor</a>
                </li>
            </ul>
        <img class="mr-5" src="https://art.pixilart.com/ed662b18ec46a15.png" width="40px">
        </div>
    </nav>
{% endblock %}
